services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: pr_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  migrate:
    image: migrate/migrate:v4.15.1
    container_name: migrate
    command:
      - "-path"
      - "/migrations"
      - "-database"
      - "postgres://postgres:postgres@postgres:5432/pr_service?sslmode=disable"
      - "up"
    volumes:
      - .\internal\infrastructure\persistence\postgres\migrations:/migrations
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  app:
    build: .
    container_name: pr-service
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/pr_service?sslmode=disable
      HOSTNAME: 0.0.0.0
      PORT: 8080
    depends_on:
      migrate:
        condition: service_completed_successfully
    restart: unless-stopped

volumes:
  postgres_data: